@import "../../variables.module.scss";

.homepageContainer {
  width: 100%;
  height: max-content;
  background-color: $background-color;
  text-align: center;
  justify-content: center;
  align-items: center;

  .homepageTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;

    h1 a {
      color: aqua;
    }
  }

  .homepageMain {
    height: 90%;
    display: flex;
    justify-content: center;
    .homepageBackground {
      width: 1600px;
      height: 800px;
      background-color: $background-color;
      background-image: url("./homepage.png");
      background-size: 100% 100%;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

.homepageGames {
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 1000px;
  padding: 20px;
  gap: 40px;
  overflow-y: scroll;
  position: relative;
  top: 200px;
  left: 260px;

  .homepageSection {
    flex: 1;
    display: grid;
    grid-template-rows: 1fr 6fr;
    width: 100%;
    height: auto;

    h1 {
      grid-row-start: 1;
      display: flex;
      text-align: start;
      align-items: center;
      width: 100%;
      color: $primary-color;
    }

    hr {
      width: 80%;
      border: 2px black solid;
    }

    .homepageCards {
      grid-row-start: 2;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      row-gap: 20px;
      width: 100%;
      height: auto;
      display: grid;
      flex-direction: row;

      .gameCardWrapper {
        grid-column-start: 1;
      }
    }
  }
}
