@import "../../variables.module.scss";

.individualContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  margin: 5px;

  .individualInner {
    display: flex;
    width: auto;
    height: 30px;
    justify-content: center;
    align-items: center;
    padding: 5px;

    a {
      text-decoration: none;
      font-size: smaller;
      padding: 0;
    }
  }
}

.leaderboardContainer {
  h2 {
    font-style: italic;
    color: $primary-color;
  }
}
