@import '../../variables.module.scss';

.individualContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  margin: 5px;
  font-size: 24px;
  font-weight: 500;

  .individualInner {
    display: flex;
    width: auto;
    height: 50px;
    justify-content: center;
    align-items: center;
    padding: 5px;

    a {
      text-decoration: none;
      font-size: smaller;
    }
  }
}

.leaderboardContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: smaller;

  .stickyHeader {
    width: 100%;
    z-index: 100;
    background-color: $border-color;
    padding: 5px;

    h2 {
      font-size: 36px;
      padding-top: 5px;
      color: $primary-color;
    }

    .prizeInfoContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .infoText {
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        margin: 5px 0;
        text-align: left;
      }

      .countdownSection {
        display: flex;
        align-items: center;
        gap: 5px;
      }

      .claimBtn {
        border-radius: 5px;
        background-color: $primary-color;
        padding: 5px;
        color: $navbar-color;
        font-size: 20px;
        font-weight: 700;
        cursor: pointer;
      }
    }
  }
}

.skeletonLoading {
  display: flex;
  width: auto;
  height: 35px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
