.drawBox {
  width: 100%;
}

.bgLight {
  background: url('../../assets/light.png') center no-repeat;
  width: 452px;
  height: 510px;
  z-index: 1;
  position: absolute;
  left: calc((100% - 452px) / 2);
  animation: pic-rotate 10s infinite linear;
}

.closeBox {
  background: url('../../assets/chest.png') 0 0 no-repeat;
  background-size: 320px auto;
  width: 320px;
  height: 138px;
  z-index: 2;
  position: absolute;
  left: calc((100% - 320px) / 2);
  top: 180px;
}

.boxOpen {
  background: url('../../assets/chest.png') 0 -139px no-repeat;
  background-size: 320px auto;
  width: 320px;
  height: 138px;
  z-index: 2;
  position: absolute;
  left: calc((100% - 320px) / 2);
  top: 180px;
}

.picShake {
  animation: pic-shake 1.2s linear;
}

.boxMsg {
  width: 80%;
  height: auto;
  margin: 0px auto;
  border: 5px solid #fce92f;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  top: -100px;
  box-shadow: 1px 1px 3px #888888;
  border-radius: 10px;
  padding: 10px;
  z-index: 5;
}

.hide {
  display: none;
}

.boxMsgTitle {
  text-align: center;
  margin: 0px 0px 10px 0px;
}

.boxMsgCongent {
  line-height: 28px;
  margin: 0px 0px 10px 0px;
  color: #610c03;
}

.boxMsgTip {
  font-size: 12px;
  color: #333333;
}

.boxMsgOperat {
  text-align: center;
}

.btnBlue {
  border: none;
  background-color: #fce92f;
  padding: 3px 15px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #888888;
}

.promptOperation {
  width: 100%;
  position: absolute;
  cursor: pointer;
  top: 350px;
  text-align: center;
  color: #cd1e03;
  z-index: 10000;
  text-shadow: 1px 1px 3px #ffd728;
}

@keyframes pic-rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes pic-shake {
  0% {
    -webkit-transform: scale(1);
  }
  10%,
  20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
  }
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale(1.1) rotate(3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(0);
  }
}
