@import "../../variables.module.scss";

.layoutContainer {
  position: relative;
  min-height: 100vh;
}

.noSupportedNetworkContainer {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 20px;
  background-color: $background-color;

  @media screen and (max-width: $breakpoint-lg) {
    padding: 10px;
  }
}

.switchBtn{
  border-radius: 5px;
  background-color: $primary-color;
  padding: 5px;
  color: $navbar-color;
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
  min-width: 300px;
  box-shadow: 1px 1px 3px $border-color;
}
