.footer{
  width:100%;
  background: linear-gradient(#000, #4E00A1);
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
  .pictures{
    display: flex;
    flex-direction: row;
    width:30%;
  }
  .rightFooter{

  }
}