@import '../../variables.module.scss';

.gameCardBox {
  background-color: lighten($background-color, 10%);
  --b: 5px; /* thickness of the border */
  --w: 30px; /* width of border */

  padding: 2px;

  position: relative;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  text-align: center;

  .gameCardContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    color: $font-color;

    h2 {
      padding: 10px;
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: $breakpoint-xl) {
        justify-content: flex-start;
      }
    }

    .gameCardButtonBox {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      .gameCardButtonDisable {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50%;
        padding: 0.5rem 5rem;
        border-radius: 5rem;
        color: $fail-color;
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: 0.15rem;
        transition: all 0.3s;
        position: relative;
        overflow: hidden;
        z-index: 1;
      }

      .gameCardButton {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 15%;
        height: 50%;
        padding: 0.5rem 5rem;
        border-radius: 0rem;
        color: $font-color;
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: 0.15rem;
        transition: all 0.3s;
        position: relative;
        overflow: hidden;
        z-index: 1;
        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: darken($navbar-color, 15%);
          border-radius: 5rem;
          z-index: -2;
        }
        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0%;
          height: 100%;
          background-color: $navbar-color;
          transition: all 0.3s;
          border-radius: 10rem;
          z-index: -1;
        }
        &:hover {
          color: $primary-color;
          &:before {
            width: 100%;
          }
        }
      }
    }

    .gameCardLogo {
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 2px;
      position: relative;

      img {
        padding: 10%;
        width: 80%;

        @media screen and (max-width: $breakpoint-md) {
          width: 100%;
        }
      }
    }

    .gameCardLogo:active .gameCardDescription {
      display: flex;
      justify-content: space-around;
    }

    .gameCardLogo:active img {
      display: none;
    }

    .gameCardDescription {
      display: none;
      border-radius: 5px;
      z-index: 2;
      color: black;
    }

    .gameCardDetail {
      padding: 10px;
      display: flex;
      font-size: larger;
      align-items: center;
      text-align: start;

      .skeletonLoading {
        display: flex;
        width: 100%;
        height: 15px;
        justify-content: center;
        align-items: center;
        margin-top: 3px;
        margin-bottom: 3px;
      }

      p {
        width: 100%;
        .gameCardRow {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}

// .gameCardBox::before {
//   content: '';
//   position: absolute;
//   inset: 0;
//   background: lighten($background-color, 30%);
//   --_g: #0000 90deg, #000 0;
//   --_p: var(--w) var(--w) no-repeat;
//   --mask: conic-gradient(from 90deg at top var(--b) left var(--b), var(--_g)) 0 0 / var(--_p),
//     conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) 100% 0 / var(--_p),
//     conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--_g)) 0 100% / var(--_p),
//     conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g)) 100% 100% / var(--_p);
//   -webkit-mask: var(--mask);
//   mask: var(--mask);
// }

.gameCardBox:hover {
  background: linear-gradient(45deg, $primary-color, $navbar-color);
  h2 {
    font-weight: bold;
    color: $background-color;
  }
  p {
    color: $background-color;
  }
}
