@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

$primary-color: #ffc906;
$secondary-color: #77cbff;
$fail-color: #f64740;
$success-color: #7dde92;
$background-color: #000000;
$navbar-color: #4e00a1;
$border-color: #7d7a92;
$font-color: #bebebe;
$font-family: 'Chakra Petch', 'Roboto Slab', sans-serif;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-sm: 460px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1560px;
