$primary-color: #2ecc71;
$secondary-color: #55a0d9;
$territory-color: #c03803;
$background-color: rgba(31, 26, 37, 1);
$navbar-color: rgb(105, 15, 215);
$border-color: rgb(124, 124, 124);
$font-color: rgb(190, 190, 190);
$font-family: "Roboto Slab", sans-serif;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-sm: 460px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1560px;
